:root {
    font-family: "Dancing Script", cursive;
    font-size: 16px;
    color: var(--black #101010);
  }
  
    /*-------------------BODY-------------------*/
body {
    margin: 0;
    display: flex;
   flex-direction: column;
}

p {
    font-family: "montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 350;
    margin: 1rem 0 2rem 0;
  }

  /*-------------------HEADER-------------------*/
  header {
    display: flex;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  header img {
    width: 8rem;
    height: auto;
    margin: 0 3rem;
  }
  
  /*-------------------NAV-------------------*/
  header, footer nav, ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    width: 100%;
    margin: 0;
    padding: 1rem 3rem;
    list-style: none;
  }
  
  /*header, footer li {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: var(--black);
    font-family: "montserrat", sans-serif;
  }
*/
  a {
    text-decoration: none;
    color: var(--black);
    margin: 0 1rem;
    padding: 0 1rem;
  }
  
  /*-------------------MAIN-------------------*/
  main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    width: 100%;
    margin: 2rem 1.5rem;
    color: var(--black);
    font-family: "montserrat", sans-serif;
    font-weight: medium;
  }

  label {
    display: flex;
    flex-direction: column;
    font-family: "montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 350;
    margin: .5rem 0;
  }
  
  /*---------profile- duck container---------*/
  .duck-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .duck-profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  /*-------------------GRID CONTAINER-------------------*/
  .duck-grid {
    display: grid;
    width: 90%;
    height: auto;
    margin: 1rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: start;
    border: 1px solid var(--black);
    padding: 1rem;
  }
  
  /*-------------------GRID ITEM-------------------*/
  .duck {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    background-color: #f5f5f5;
    padding: 1rem;
  }
  
  .duck h3 {
    display: flex;
    font-size: 2rem;
    font-weight: 350;
    margin-bottom: 1rem;
    justify-content: center;
  }
  
.duck img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10rem;
    padding: 1rem;
    
    border: #101010 1px solid;
  }
  .duck, .duck-profile-info ul, li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .duck-grid, .duck li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  /*-------------------FORM-------------------*/
  
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-content: flex-start;
    font-family: "montserrat", sans-serif;
    margin-bottom: 3rem;
  }
  
  form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 350;
    margin: .5rem 0;
  }
  
  input {
    display: flex;
    height: 2rem;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 350;
    margin: .5rem 0;
    font-family: "montserrat", sans-serif;
  justify-content: center;
  align-items: center; 
  }
  
  /*-------------------FOOTER-------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
  }
  
  
  footer h3 {
    display: flex;
    width: 25%;
    font-family: "montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 350;
    margin: 3rem;
    justify-content: center;
  }